@{
    ViewData["Title"] = "Fin";
}

<div class="container">
<h1 class="text-center pt-2">¡FIN DEL JUEGO!</h1>
<h3 class="text-center pt-2">TARDASTE: @ViewBag.TiempoFinal SEGUNDOS</h3>
<div class="text-center">

 <img src="https://i.pinimg.com/originals/51/e4/3b/51e43bbe8be82fa5d963477c9dd1a5ab.gif" class="pb-4 pt-4"  width="auto" height="380">

</div>
<h2 class="text-center pt-4">Puntaje final: @Juego.PuntajeActual </h2>

<div class="text-center pt-5">
 <a class="btn-lg btn-success" href='@Url.Action("ConfigurarJuego","Home")'> Volver a jugar </a>
        
  <a class="btn-lg btn-info" href='@Url.Action("HighScores","Home")'> HighScores </a>
 </div>