@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        
           <center> <img class="abajo" src="/iconosf.png" height = "350px" width="auto"></center>
        
            <a  class="btn btn-primary" href='@Url.Action("ConfigurarJuego","Home")'> Configurar Juego </a>
     </div>
</div>
