@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
                <h1 class="pt-3 pagina">BIENVENIDO AL GYM QUIZ</h1>
                <h4 class="">With pain comes strength</h4>
               
           <center> <img class="abajo pt-5 pb-4 " src="/icono1.png" height = "450px" width="auto"></center>
        
           <a  class="btn-lg btn-primary" href='@Url.Action("ConfigurarJuego","Home")'> Comenzar </a>
            <p class="pb-5"> </p>
     </div>
</div>
