

           
               <h1> @ViewBag.Resultado </h1>
                <br >
                
           <button class="btn btn-success">  <a class="button text-center pt-5 tx blanco" style="text-decoration:none;" href='@Url.Action("Jugar", "Home")'>Siguiente pregunta</a> </button>